In [154]:
#Downloading the files from local device.
from google.colab import files
uploaded = files.upload()

Saving 6838804_2ETZXWE6.csv to 6838804_2ETZXWE6 (2).csv

In [155]:
import pandas as pd
import io
#Uploading it onto a pandas dataframe
filename = '6838804_2ETZXWE6.csv'
df1 = pd.read_csv(io.BytesIO(uploaded[filename]),skiprows=[0], header = None)
df1.head(5)

                                                   0
0  5825406,GB,2728068,GB,98977574,Dresses,,43678,...
1  14771546,GB,11438410,GB,103060893,Outerwear,Ad...
2  6485915,GB,4944321,GB,110062966,Tops - Womens,...
3  335836,GB,9397665,GB,114412490,Bottoms - Women...
4  7865862,US,2439394,US,114443238,Jewellery,,436...

In [152]:
from google.colab import files
uploaded = files.upload()

Saving 6838804_E9OZG5J8.csv to 6838804_E9OZG5J8 (2).csv

In [153]:
filename = '6838804_E9OZG5J8.csv'
df2 = pd.read_csv(io.BytesIO(uploaded[filename]),skiprows=[0], header = None)
df2.head(5)

                                                   0
0  12789733,US,12865192,US,115194865,Tops - Women...
1  15100663,US,13631840,US,109024617,Tops - Mens,...
2  750090,GB,786414,GB,115119255,Dresses,ASOS,436...
3  8962761,US,5719308,US,114348904,Jewellery,,436...
4  8962761,US,5719308,US,114348904,Jewellery,,436...

In [150]:
from google.colab import files
uploaded = files.upload()

Saving 6838804_KBMCGE7W.csv to 6838804_KBMCGE7W (2).csv

In [151]:
filename = '6838804_KBMCGE7W.csv'
df3 = pd.read_csv(io.BytesIO(uploaded[filename]),skiprows=[0], header = None)
df3.head(5)

                                                   0
0  10938420,US,2521256,US,114892769,Tops - Womens...
1  10227730,US,7620103,US,114590455,Shoes,Vans,43...
2  2670296,US,10720267,US,112328666,Tops - Mens,A...
3  11857554,US,11637264,US,110172088,Tops - Mens,...
4  137815,GB,11141286,GB,115001726,Beauty,Revolut...

In [128]:
from google.colab import files
uploaded = files.upload()

Saving 6838804_NOQCYT7D.csv to 6838804_NOQCYT7D (1).csv

In [148]:
filename = '6838804_NOQCYT7D.csv'
df4 = pd.read_csv(io.BytesIO(uploaded[filename]), header = None)
df4.head(5)

                                                   0
0  buyer_id,buyer_country,seller_id,seller_countr...
1  5169448,GB,15213623,GB,114618622,Accessories,,...
2  15347034,US,10433189,US,115353912,Tops - Women...
3  7969004,US,9770613,US,114881072,Beauty,,43679,...
4  12425756,US,11928440,US,114881469,Tops - Mens,...

In [156]:
#For some reason when importing the files, I was unable to use the sep = ',' to separate out the values into separate columns. This is the work around
df1 = df1[0].str.split(',', expand=True)
df2 = df2[0].str.split(',', expand=True)
df3 = df3[0].str.split(',', expand=True)
df4 = df4[0].str.split(',', expand=True)

In [157]:
#Concatenating the data back together & adding column headers
df_all = pd.concat([df4,df1,df2,df3])
df_all.columns = df_all.iloc[0]
df_all = df_all.iloc[1:]
df_all

0      buyer_id buyer_country seller_id  ... purchase_date currency value_of_item
1       5169448            GB  15213623  ...         43683      GBP           2.2
2      15347034            US  10433189  ...         43684      USD          5.75
3       7969004            US   9770613  ...         43679      USD         34.75
4      12425756            US  11928440  ...         43679      USD          5.75
5      10657528            US  11965383  ...         43679      USD            93
...         ...           ...       ...  ...           ...      ...           ...
11799   7135084            GB   6065563  ...         43683      GBP            13
11800   1585528            US  10551466  ...         43680      USD            15
11801  14974999            GB   2647385  ...         43680      GBP            10
11802   8914094            GB  13573206  ...         43683      GBP         29.99
11803   9320271            GB  13573206  ...         43682      GBP         32.99

[237671 rows x 10 columns]

In [138]:
sz = df_all.shape
print('The dataset consists of ',sz[0],' entries')

The dataset consists of  237671  entries

In [139]:
volume_of_sellers = df_all['seller_id'].value_counts()
print('There are ',volume_of_sellers.size,' number of individual sellers')

There are  114227  number of individual sellers

In [140]:
#Attempting to do sum directly on df results in error so I had to convert the values to int 
new_df = pd.to_numeric(df_all['value_of_item'])
total_sales =new_df.sum()
print(total_sales)

6126601.139999999

In [187]:
df_Q4 = pd.to_numeric(df_all['value_of_item'])
df_Q4 = pd.concat([df_Q4, df_all['brand']], axis = 1)
most_popular_brand = df_Q4.groupby('brand').sum()
most_popular_brand = most_popular_brand.sort_values(['value_of_item'], ascending = False)
print('The table below shows that Nike has had the most sales')
most_popular_brand

The table below shows that Nike has had the most sales

                    value_of_item
brand
                       2773592.68
Nike                    339440.26
Adidas                  100402.66
American Vintage         95701.75
Brandy Melville          90969.85
...                           ...
Ann Demeulemeester           5.75
3LAB                         5.00
Popular Sports               4.99
360 Cashmere                 3.00
36572                        1.00

[1135 rows x 1 columns]

In [197]:
#This filters the dataframe to only show all the entries where category is equal to Tops - Womens
df_Q5 = df_all.where(df_all['category'] == 'Tops - Womens')
df_Q5.dropna()
#With the filtered dataframe, now I will check how many do not have a value in the brand column
no_brand = df_Q5['brand'] == ''
no_brand.value_counts()
print('There are ',no_brand.value_counts(0).values[1],' Womens tops which do not have a brand')

There are  21606  Womens tops which do not have a brand